/* ----- ESTILOS GERAIS ----- */
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: linear-gradient(#75fdff, #1be680);
  color: #222;
}

/* ----- CABEÇALHO ----- */
header {
  background: #1be680;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 25px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

/* ----- CONTAINER PRINCIPAL ----- */
.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background: #000000;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.4s ease;
}

/* ----- GRUPO DE CAMPOS ----- */
.input-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

select,
input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #c8d3dd;
  font-size: 17px;
  background: #f9fbfc;
  transition: 0.2s;
}

select:focus,
input:focus {
  border-color: #75fdff;
  box-shadow: 0 0 6px #75fdff;
}

/* ----- BOTÃO ----- */
button {
  width: 100%;
  background:  #1be680;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #75fdff;
}

/* ----- RESULTADO ----- */
.resultado {
  display: none;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  background: #e8f7ff;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #bce6ff;
  font-weight: 600;
  animation: fadeIn 0.5s ease;
}

/* ----- ANIMAÇÃO ----- */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ----- GRÁFICO ----- */
#graficoContainer {
    width: 100%;
    height: 400px; /* ALTURA OBRIGATÓRIA */
    margin-top: 30px;
}

#currencyChart {
    width: 100% !important;
    height: 100% !important;
}
